* {
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
	color: white;
	background-color: rgb(93, 93, 238);
	border: none;
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 25px;
}

.button:hover {
	background-color: rgb(123, 123, 221);
	cursor: pointer;
}
.input-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.input-bar > input {
	border: 1px solid black;
	height: 2rem;
}
label {
	margin: 1rem;
}
input {
	width: 500px;
	border-radius: 5px;
}
input::placeholder {
	padding: 1rem;
}

.text-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

textarea {
	border-radius: 5px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 15vw;
	margin-right: 15vw;
}
@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes jitter {
	0% {
		background-color: red;
		transform: translate(5px);
	}

	10% {
		transform: translate(-5px);
	}
	20% {
		transform: translate(5px);
	}
	30% {
		transform: translate(-5px);
	}
	40% {
		transform: translate(5px);
	}
	50% {
		transform: translate(-5px);
	}
	60% {
		transform: translate(5px);
	}
	70% {
		transform: translate(-5px);
	}
	80% {
		transform: translate(5px);
	}
	90% {
		transform: translate(-5px);
	}
	100% {
		transform: translate(5px);
		background-color: rgb(93, 93, 238);
	}
}

.jitter {
	animation-name: jitter;
	animation-duration: 0.5s;
}
.toast {
	position: absolute;
	background-color: rgb(255, 0, 0);
	padding: 0.5rem;
	border-radius: 2rem;
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	top: 30%;
	width: 80vw;
	display: none;
}
.animation {
	animation-name: fadeout;
	animation-duration: 3s;
}

.show {
	display: flex;
}
